.rockPaperGameResultWrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas: 'player result ai';
  column-gap: 3em;
  padding-block: 2.5em;
  opacity: 0;
  animation: fade-in 0.2s ease-in 0s forwards;
}

.choosenItemCard,
.resultControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.choosenItemCard {
  --translate-to-zero: translateX(0);
  transform: translateX(var(--translate-x-value)); /* variable '--translate-x-value' computed in RockPaperGameResult component */
}

.choosenItemCard[data-is-player='true'] {
  grid-area: player;
}

.choosenItemCard[data-is-ai='true'] {
  grid-area: ai;
}

.choosenItemCard[data-is-outlined='false'] {
  position: relative;
  z-index: 1;
}

.choosenItemCardTitle {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  white-space: nowrap;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
}

.resultControls {
  grid-area: result;
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(50%);
}

.resultControls > * {
  width: 100%;
  min-width: max-content;
}

.rockPaperGameResultWrapper[data-is-ai-choice-visible='true'] .choosenItemCard {
  animation: choice 0.2s ease-in 0.6s forwards;
}

.rockPaperGameResultWrapper[data-is-result-visible='true'] .resultControls {
  animation: result 0.2s ease-in 0s forwards;
}

.resultText {
  font-size: calc(var(--fs-xxxl) * 2);
  font-weight: var(--fw-bold);
  white-space: nowrap;
}

/* animation */
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes choice {
  to {
    transform: var(--translate-to-zero);
  }
}

@keyframes result {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* adaptive */
@media (max-width: 1020px) {
  .rockPaperGameResultWrapper {
    column-gap: 3vw;
  }

  .resultControls {
    gap: 1.5em;
  }

  .resultText {
    font-size: calc(var(--fs-xxxl) * 1.7);
  }
}

@media (max-width: 910px) {
  .rockPaperGameResultWrapper {
    column-gap: 2em;
  }

  .choosenItemCard[data-is-player='true'] {
    margin-right: 1em;
  }

  .choosenItemCardTitle {
    font-size: var(--fs-lg);
  }

  .resultControls {
    gap: 1em;
  }

  .resultText {
    font-size: calc(var(--fs-xxxl) * 1.5);
  }
}

@media (max-width: 768px) {
  .rockPaperGameResultWrapper {
    column-gap: 1em;
  }
}

@media (max-width: 690px) {
  .rockPaperGameResultWrapper {
    grid-template-areas:
    'player ai'
    'result result';
    column-gap: 9vw;
    row-gap: 2.5em;
  }

  .rockPaperGameResultWrapper[data-is-ai-choice-visible='true'] .choosenItemCard {
    animation: none;
  }

  .choosenItemCard[data-is-player='true'] {
    margin-right: 0;
  }

  .resultControls {
    margin-right: 1em;
  }

  .choosenItemCardTitle {
    order: 1;
  }

  .choosenItemCard {
    transform: translateX(0);
  }

  .resultText {
    font-size: calc(var(--fs-xxxl) * 2);
  }
}

@media (max-width: 460px) {
  .rockPaperGameResultWrapper {
    grid-template-areas:
    'result'
    'player'
    'ai';
    padding: 1.5em 0 2.5em;
  }

  .rockPaperGameResultWrapper[data-is-ai-choice-visible='true'] .choosenItemCard {
    animation: choice 0.2s ease-in 0.6s forwards;
  }

  .choosenItemCard {
    --translate-to-zero: translateY(0);
    gap: 0.4em;
  }

  .choosenItemCard[data-is-player='true'],
  .choosenItemCard[data-is-ai='true'] {
    transform: translateY(-70%);
  }

  .choosenItemCardTitle {
    order: 0;
  }

  .resultControls {
    gap: 0.7em;
    margin-right: 0;
    transform: translateY(-30%);
  }

  .resultText {
    font-size: calc(var(--fs-xxxl) * 1.5);
  }
}