.rockPaperGamePageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-block: 2.5rem;
}

.rockPaperGameContentWarpper {
  display: flex;
  flex: 1;
}

.rockPaperGamePageControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* modal childrens */
.rulesImg {
  width: 100%;
}
.resetScoreText {
  font-size: var(--fs-xl);
  color: var(--clr-text-dark);
  margin: 0;
  padding-bottom: 1.5em;
}
.resetScoreButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75em;
}

/* adaptive */

/* hover, focus */
@media (hover: hover) and (pointer: fine) {

}