.backToHomeLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-lg);
  color: var(--clr-text);
  text-decoration: none;
  padding: 0.3em 0.6em;
  border: 2px solid var(--clr-text);
  border-radius: var(--radius);
  position: relative;
  z-index: 1;
  transition: var(--transition-duration);
}

.backToHomeLink::after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  right: 0;
  top: -2px;
  bottom: 0;
  background: var(--clr-text);
  border-radius: var(--radius);
  transform: scale(0);
  transform-origin: top;
  z-index: -1;
  transition: var(--transition-duration) ease-in;
}


@media (hover: hover) and (pointer: fine) {
  .backToHomeLink:hover,
  .backToHomeLink:focus {
    color: var(--clr-text-dark);
    box-shadow: var(--shadow);
  }

  .backToHomeLink:hover::after,
  .backToHomeLink:focus::after {
    transform: scale(1);
    transform-origin: bottom;
  }
}