.rockPaperGamePageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-block: 2rem;
}

.rockPaperGameHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.rockPaperGameContentWarpper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}