.titleScoreWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  max-width: 750px;
  padding: 1.5em;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: var(--radius-lg);
  z-index: 1;
}

.titleWrapper {
  align-self: center;
  font-size: calc(var(--fs-xxxl) * 1);
  font-weight: var(--fw-bold);
  line-height: 0.85;
  list-style: none;
  padding: 0;
  margin: 0;
}

.scoreWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  background: var(--clr-text);
  padding: 1em 3em;
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
}

.scoreText {
  color: hsl(229, 64%, 46%);
  font-size: var(--fs-md);
  font-weight: var(--fw-normal);
  letter-spacing: 2px;
}

.scoreNumber {
  color: hsl(229, 25%, 31%);
  font-size: calc(var(--fs-xxxl) * 2);
  font-weight: var(--fw-bold);
  line-height: 0.8;
}

/* adaptive */
@media (max-width: 385px) {
  .titleScoreWrapper {
    flex-direction: column;
  }

  .titleWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1;
  }

  .gameTitle:not(:last-child):after {
    content: ',';
    margin-right: 0.2em;
  }

  .scoreWrapper {
    align-self: center;
  }

}