.rockPaperGameItemsList {
  display: grid;
  align-items: center;
  justify-items: center;
  column-gap: 4em;
  grid-template-areas:
  'rock paper'
  'scissors scissors';
  height: fit-content;
  background-size: var(--bg-size);
  background-repeat: no-repeat;
  background-position: center var(--bg-Y-position);
  padding: 2em 0 2.5em;
  margin: 0;
  opacity: 0;
  animation: fade-in 0.2s ease-in 0s forwards;
  position: relative;
}

.rockPaperGameItemsList[data-is-extended='false'] {
  --bg-size: 75%;
  --bg-Y-position: 70%;
}

.rockPaperGameItemsList[data-is-extended='true'] {
  --bg-size: 55%;
  --bg-Y-position: 50%;

  grid-template-areas:
  '. . . scissors scissors . . .'
  'spock spock spock spock paper paper paper paper'
  '. . . lizard rock . . .';
}

.rockPaperGameListItemWarpper {
  grid-area: var(--grid-area-name);
  padding-top: var(--padding-top);
  margin-bottom: var(--margin-bottom);
  list-style: none;
  position: relative;
  z-index: 1;
}

.rockPaperGameListItemWarpper[data-item-name='rock'] {
  --grid-area-name: rock;
}

.rockPaperGameListItemWarpper[data-item-name='paper'] {
  --grid-area-name: paper;
}

.rockPaperGameListItemWarpper[data-item-name='scissors'] {
  --grid-area-name: scissors;
}

.rockPaperGameListItemWarpper[data-item-name='lizard'] {
  --grid-area-name: lizard;
}

.rockPaperGameListItemWarpper[data-item-name='spock'] {
  --grid-area-name: spock;
}

.rockPaperGameItemsList[data-is-extended='false'] .rockPaperGameListItemWarpper[data-item-name='scissors'] {
  --padding-top: 2em;
}

.rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper[data-item-name='scissors'] {
  --margin-bottom: -2em;
}

.rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper[data-item-name='lizard'],
.rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper[data-item-name='rock'] {
  --padding-top: 4em;
}

.rockPaperGameListItemWarpper:not(:last-child)::after {
  display: none;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 10%;
  height: 20%;
  background-color: hsla(0, 0%, 0%, 0.2);
  z-index: -1;
}

/* animation */
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* adaptive */
@media (max-width: 810px) {
  .rockPaperGameItemsList[data-is-extended='true'] {
    --bg-size: 65%;

    column-gap: 2em;
  }

  .rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper[data-item-name='lizard'],
  .rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper[data-item-name='rock'] {
    --padding-top: 2em;
  }
}

@media (max-width: 592px) {
  .rockPaperGameItemsList[data-is-extended='true'] {
    --bg-size: 0;

    display: block;
  }

  .rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper:not(:last-child) {
    padding-bottom: 2.5em;
  }

  .rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper:not(:last-child)::after {
    display: block;
  }

  .rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper[data-item-name='scissors'] {
    --margin-bottom: 0;
  }

  .rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper[data-item-name='lizard'],
  .rockPaperGameItemsList[data-is-extended='true'] .rockPaperGameListItemWarpper[data-item-name='rock'] {
    --padding-top: 0;
  }
}

@media (max-width: 492px) {
  .rockPaperGameItemsList[data-is-extended='false'] {
    --bg-size: 0;

    display: block;
  }

  .rockPaperGameItemsList[data-is-extended='false'] .rockPaperGameListItemWarpper:not(:last-child) {
    padding-bottom: 2.5em;
  }

  .rockPaperGameItemsList[data-is-extended='false'] .rockPaperGameListItemWarpper:not(:last-child)::after {
    display: block;
  }

  .rockPaperGameItemsList[data-is-extended='false'] .rockPaperGameListItemWarpper[data-item-name='scissors'] {
    --padding-top: 0;
  }
}