.rockPaperGameItemWrapper[data-item-name='rock'] {
  --clr-border: hsl(349, 70%, 56%);
  --clr-shadow: hsla(349, 71%, 52%, 0.85);
}

.rockPaperGameItemWrapper[data-item-name='paper'] {
  --clr-border: hsl(230, 89%, 65%);
  --clr-shadow: hsla(230, 89%, 62%, 0.85);
}

.rockPaperGameItemWrapper[data-item-name='scissors'] {
  --clr-border: hsl(40, 84%, 53%);
  --clr-shadow: hsla(39, 89%, 49%, 0.85);
}

.rockPaperGameItemWrapper[data-item-name='lizard'] {
  --clr-border: hsl(261, 72%, 63%);
  --clr-shadow: hsla(261, 73%, 60%, 0.85);
}

.rockPaperGameItemWrapper[data-item-name='spock'] {
  --clr-border: hsl(189, 58%, 57%);
  --clr-shadow: rgb(56, 159, 177);
}

.rockPaperGameItemWrapper[data-is-big='true'] {
  --width: 280px;
  --border-width: 30px;
}

.rockPaperGameItemWrapper[data-is-big='false'] {
  --width: 180px;
  --border-width: 20px;
}

.rockPaperGameItemWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  aspect-ratio: 1;
  background: var(--clr-text);
  border: solid var(--clr-border);
  border-width: var(--border-width);
  border-radius: 50%;
  position: relative;
  box-shadow:
    inset 0 10px 1px -4px hsla(210, 3%, 85%, 0.85),
    0 9px 1px -2px var(--clr-shadow),
    0 6px 5px 4px hsla(0, 0%, 0%, 0.2);
  transition: var(--transition-duration);
  outline: none;
}

.rockPaperGameItemWrapper[data-is-big='false'] {
  cursor: pointer;
}

.rockPaperGameItemWrapper[data-is-outlined='true'] {
  box-shadow:
    inset 0px 10px 1px -4px hsla(210, 3%, 85%, 0.85),
    0px 9px 1px -2px var(--clr-shadow),
    0 6px 5px 4px hsla(0, 0%, 0%, 0.2),
    0 4px 0 calc(var(--border-width) * 1.5) hsl(227, 32%, 24%),
    0 4px 5px calc(var(--border-width) * 1.5 + 5px) hsla(0, 0%, 7%, 0.1),
    0 4px 0px calc(var(--border-width) * 3) hsl(227, 37%, 21%),
    0 4px 5px calc(var(--border-width) * 3 + 5px) hsla(0, 0%, 7%, 0.1),
    0 4px 0px calc(var(--border-width) * 5) hsl(227, 43%, 19%),
    0 4px 5px calc(var(--border-width) * 5 + 5px) hsla(0, 0%, 7%, 0.1);
}

.rockPaperGameItemWrapper[data-is-visible='false'] {
  width: calc(var(--width) - var(--border-width));
  background: hsl(227, 43%, 19%);
  border-color: transparent;
  box-shadow: 0 1px 4px 3px hsla(0, 0%, 0%, 0.1);
  margin: calc(var(--border-width) / 2);
}

.rockPaperGameItemWrapper[data-is-visible='false'] .rockPaperGameItemIcon {
  visibility: hidden;
}

.rockPaperGameItemIcon {
  width: 50%;
  transition: var(--transition-duration);
}

/* hover, focus */
@media (hover: hover) and (pointer: fine) {
  .rockPaperGameItemWrapper[data-is-big='false']:hover .rockPaperGameItemIcon,
  .rockPaperGameItemWrapper[data-is-big='false']:focus .rockPaperGameItemIcon {
    transform: scale(1.25);
  }
}
